html,
body {
  height: 100%;
  width: 100%;
}

header:not(.home-cta), .alert {
  /* margin-top: 80px; */
  margin-bottom: 0;
}

.home-cta {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/climbing-2264698_1920.jpg');
  background-size: cover;
  height: 93%;
  width: 100%;
}

.home-cta > h1, h4 {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 5rem;
  text-align: center;
  z-index: 1;
}

.home-cta > h4 {
  font-size: 2rem;
  z-index: 2;
}

.form-inline {
  display: inline-block;
}

.form-inline > .delete {
  color: #007bff;
  border-width: 0;
  background: none;
  padding: 0;
  margin: 0;
}

.form-inline > .delete:hover{
  color: #0056b3;
}

a:hover {
  text-decoration: none;
}